@using CulinaryClub.ViewModel
@model UserDetailViewModel


    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                        <div class="media-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">@Model.UserName</h1>
                            </div>
                   @* <img class="card-img-top" src="@Model.Prof" width="100%" alt="Img">*@

                        <p class="text-muted">Dishes: @Model.Dishes</p>
                        <p class="text-muted">Rating: @Model.Rating</p>
                            <p>
                                Hello, this is my profile
                            </p>
                            <div>
                               <a>foto?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

