

<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">

            <div> 
                <h2>All chefs</h2>
            </div>
                <table class="table table-hover align-items-center table-borderless">
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="bg-white">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <img src="@user.ProfileImageUrl" width="100" height="100" alt="Img" style="display: inline-block;">
                                        <div class="media-body" style="display: inline-block; margin-left: 10px;">
                                            <span class="h6 mb-0">@user.UserName</span>
                                            @{
                                                var pace = user.Rating == null ? "?" : user.Rating.ToString();
                                            }
                                            <p>Rating @pace</p>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                        View Profile
                                    </a>
                                </td>
                            </tr>
                            <tr class="table-divider">
                                <th></th>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
