@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid my-carousel">

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/lib/1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Taste and aroma</h5>
                    <p>The best cooking techniques for popular dishes.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/lib/3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Food is science</h5>
                    <p>By studying the preparation of food, we learn the world.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/lib/4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Taste of childhood</h5>
                    <p>Delicious desserts at our master classes. Always.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>









    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
            <div class="col">
                <div class="card">
                    <img src="/lib/01.jpg"
                         class="card-img-top"
                         alt="Image" />
                    <div class="card-body">
                        <h5 class="card-title">Sunday Master Class</h5>
                        <p class="card-text">
                            Sunday master class is the best place to get acquainted with cooking delicious food.
                        </p>
                        <a href="https://picsum.photos/id/85/2000"
                           target="_blank"
                           class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/lib/02.jpg"
                         class="card-img-top"
                         alt="Image" />
                    <div class="card-body">
                        <h5 class="card-title">Master Class with children</h5>
                        <p class="card-text">
                            Cooking with children is a real pleasure and funny. How is it compatible?
                        </p>
                        <a href="https://picsum.photos/id/1040/2000"
                           target="_blank"
                           class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/lib/03.jpg"
                         class="card-img-top"
                         alt="Image" />
                    <div class="card-body">
                        <h5 class="card-title">New Year's buffet</h5>
                        <p class="card-text">
                            Festive New Year's table will definitely emphasize your status and ability to cook.
                        </p>
                        <a href="https://picsum.photos/id/1025/2000"
                           target="_blank"
                           class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>