html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*ffffff*/

.card {
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

    .card:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .card img {
        border-radius: 50%;
        width: 60%;
        margin: auto;
    }

.my-carousel {
padding: 0;
}
    .my-carousel .carousel-item {
 display: flex;

    }

.col- {
    max-width: 500px;
    margin: auto;
}

.form-group {
margin: 10px;
}
.centerr {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.row2 {
    max-width: 500px;
    margin: auto;
}

h4 {
text-align: center;
}
.col_red {
    color: red;
    text-align: center;
}
.old-4 {
min-height: 600px;
}






