html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*ffffff*/

.card {
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

    .card:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .card img {
        border-radius: 50%;
        width: 60%;
        margin: auto;
    }

.my-carousel {
padding: 0;
}
    .my-carousel .carousel-item {
 display: flex;

    }

.col- {
    max-width: 500px;
    margin: auto;
}

.form-group {
margin: 10px;
}
.centerr {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.row2 {
    max-width: 500px;
    margin: auto;
}

h4 {
text-align: center;
}
.col_red {
    color: red;
    text-align: center;
}
.old-4 {
min-height: 600px;
}

.colormyblackof {
    color: saddlebrown;
    text-shadow: 0 0 5px #ffd800, 0 0 10px #ffd800;
}
.colormyblackof2 {
    color: black;
    text-shadow: 0 0 5px #ffd800, 0 0 10px #ffd800;
}

/*Login page*/

.my-class-login {
    margin: 0;
    padding: 0;
    max-width: 20%;
    max-height: 20%;
    font-family: montserrat;
    background: linear-gradient(120deg, #366a94, #be6ee0);
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}


/*Register*/

input {
    height: 45px;
    width: 100%;
    color: #385983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
}

    input:focus {
        outline: none;
        border: 2px;
    }


.register-form-container {
    position: relative;
    max-width: 415px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.form-title {
    color: #30507d;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}

.form-field {
    margin-bottom: 13px;
}

.button {
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 35px;
    width: 100%;
    background: #247fff;
    border-radius: 5px;
    color: #bab6b6;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

    .button:hover {
        background-color: #0d6cf2;
    }





